.expertise {
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.expertise-icons {
  display: flex;
  width: 90%;
  justify-content: center; }
  .expertise-icons li {
    list-style: none;
    flex-basis: 20%;
    text-align: center;
    margin: 8em 3em 0 3em; }


.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav > li {
  display: inline-block; }
  .nav > li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    text-transform: uppercase; }
  .nav > li a:hover {
    color: #00e0d0; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px; }

.violet-section, .home {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-size: cover;
  background-position: center; }

.content, .footer, .home .home-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.header {
  text-align: center;
  padding-top: 5em; }

.button {
  border: 1px solid #00e0d0;
  background: none;
  color: #00e0d0;
  padding: 15px;
  text-transform: uppercase; }

.footer {
  bottom: 0;
  left: 0; }

.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  color: white; }
  .home .home-content {
    width: 50%;
    margin: 16% auto;
    letter-spacing: 0.7px;
    text-align: center; }
    .home .home-content h1 {
      font-size: 32px; }

.meet {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphics/images/put-your-image-here (2).png");
  background-size: cover;
  background-position: center;
  color: white; }

.our-story {
  display: flex;
  align-items: center;
  padding: 8em;
  color: #413d4b;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px; }
  .our-story ul {
    display: flex; }
    .our-story ul li {
      list-style: none;
      margin-left: 10%; }

.slider {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  overflow: hidden; }
  .slider img {
    height: 100vh;
    min-width: 100%;
    z-index: -2;
    position: absolute; }

.slider-button {
  padding: 0;
  position: absolute;
  bottom: 0; }
  .slider-button li {
    list-style: none;
    display: inline-block; }
    .slider-button li button {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 30px;
      background: none;
      border: 1px solid #c2c2c2; }
    .slider-button li button:hover {
      background-color: #00e0d0; }

.video {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphics/images/put-your-image-here (1).png");
  background-size: cover;
  background-position: center; }
