.comments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (6).png");
  background-size: cover;
  background-position: center; }

.quote-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5em; }

.quote {
  background-image: url("../graphic/icon/-.png");
  height: 26px;
  width: 32px; }

.comments-content {
  width: 50%;
  margin: 16% auto;
  letter-spacing: 0.7px;
  text-align: center; }

.carusel {
  display: flex;
  align-items: center;
  padding: 0; }
  .carusel li {
    list-style: none;
    margin: 0 0.5em 0 0.5em; }
  .carusel button {
    border: none; }

.back {
  background: url("../graphic/icon/back.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 21px; }

.next {
  background: url("../graphic/icon/forward.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 21px; }

.expertise {
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.expertise-icons {
  display: flex;
  width: 90%;
  justify-content: center; }
  .expertise-icons li {
    list-style: none;
    flex-basis: 20%;
    text-align: center;
    margin: 8em 3em 0 3em; }


body {
  padding: 0;
  margin: 0;
  font-size: 14px; }

.violet-section, .home {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-size: cover;
  background-position: center; }

.content, .home .home-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em; }

.button {
  border: 1px solid #00e0d0;
  background: none;
  color: #00e0d0;
  padding: 15px;
  text-transform: uppercase; }

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .footer p {
    width: 100%;
    text-align: center; }

.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  color: white; }
  .home .home-content {
    width: 50%;
    margin: 10% auto;
    letter-spacing: 0.7px;
    text-align: center; }
    .home .home-content h1 {
      font-size: 32px; }

.meet {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (2).png");
  background-size: cover;
  background-position: center;
  color: white; }

.meet-icons > li {
  margin-left: 1em;
  list-style: none; }
  .meet-icons > li div {
    border: 1px solid #e1e1e1;
    margin-top: -5px;
    text-align: center; }

.our-story {
  display: flex;
  align-items: center;
  padding: 8em;
  color: #413d4b;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px; }
  .our-story ul {
    display: flex; }
    .our-story ul li {
      list-style: none;
      margin-left: 10%; }

.inline-header, .our-works header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav > li {
  display: inline-block; }
  .nav > li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    text-transform: uppercase; }
  .nav > li a:hover {
    color: #00e0d0; }

.header {
  text-align: center;
  margin-top: 5em; }

.our-works {
  width: 100%; }

.our-works-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .our-works-content ul li {
    display: inline-block;
    list-style: none;
    width: 267px;
    height: 200px; }
    .our-works-content ul li img {
      width: 267px;
      height: 200px; }

.slider {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  overflow: hidden; }
  .slider img {
    height: 100vh;
    min-width: 100%;
    z-index: -2;
    position: absolute; }

.slider-button {
  padding: 0;
  position: absolute;
  bottom: 0; }
  .slider-button li {
    list-style: none;
    display: inline-block; }
    .slider-button li button {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 30px;
      background: none;
      border: 1px solid #c2c2c2; }
    .slider-button li button:hover {
      background-color: #00e0d0; }

.video {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (1).png");
  background-size: cover;
  background-position: center; }
