.client {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.form-wrap {
  padding-right: 5em;
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

.form {
  width: 460px; }
  .form li {
    padding-top: 4em;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(65, 61, 75, 0.5); }
    .form li input {
      width: 100%;
      border: none; }
    .form li textarea {
      width: 100%;
      border: none; }
  .form li:first-child {
    border: none;
    color: #413d4b; }

.our-clients {
  margin-left: 10em;
  width: 30%;
  margin-top: 5em; }

.partners {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
  padding: 0; }
  .partners li {
    margin-top: 3em;
    width: 50%;
    list-style: none; }

.comments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (6).png");
  background-size: cover;
  background-position: center; }
  .comments footer p {
    text-align: center; }

.quote-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5em; }

.quote {
  background-image: url("../graphic/icon/-.png");
  height: 26px;
  width: 32px; }

.comments-content {
  color: rgba(255, 255, 255, 0.85);
  width: 30%;
  margin: 4% auto;
  letter-spacing: 0.7px;
  text-align: center; }

.carusel {
  display: flex;
  align-items: center;
  padding: 0; }
  .carusel li {
    list-style: none;
    margin: 0 0.5em 0 0.5em; }
  .carusel button {
    border: none; }

.back {
  background: url("../graphic/icon/back.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 21px; }

.next {
  background: url("../graphic/icon/forward.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 21px; }

.expertise {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.75); }

.expertise-icons {
  display: flex;
  width: 90%;
  justify-content: center; }
  .expertise-icons li {
    list-style: none;
    flex-basis: 20%;
    text-align: center;
    margin: 8em 3em 0 3em; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px; }

.violet-section {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-size: cover;
  background-position: center; }

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em; }

.button {
  font-weight: 800;
  border: 1px solid #00e0d0;
  background: none;
  color: #00e0d0;
  padding: 15px;
  text-transform: uppercase; }

.footer, .main-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .footer p, .main-footer p {
    width: 100%; }

.content-header:after {
  margin-left: 45%;
  margin-top: 1em;
  display: flex;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #00e0d0; }

.font-decor {
  color: rgba(255, 255, 255, 0.85); }

.main-footer {
  color: white;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (12).png");
  background-size: cover;
  background-position: center; }
  .main-footer section {
    width: 20%;
    line-height: 26px; }

.our-studio dl .address {
  background: url("../graphic/icon/big104.png");
  width: 14px;
  height: 19px;
  padding: 0;
  margin: 0; }

.our-studio dl .phone {
  background: url("../graphic/icon/phone351.png");
  width: 17px;
  height: 17px; }

.our-studio dl dt {
  margin-right: 0; }

.our-studio dl dd {
  padding: 0;
  margin: -1.5em 0 0 1.5em; }

.logo-section-footer {
  text-align: left; }
  .logo-section-footer ul {
    padding: 0;
    display: flex;
    justify-content: space-between; }
    .logo-section-footer ul li {
      list-style: none; }
      .logo-section-footer ul li a {
        color: white;
        text-decoration: none; }

.stay-in-touch-list {
  display: flex;
  padding: 0; }
  .stay-in-touch-list .facebook {
    background: url("../graphic/social-network/2-layers.png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list .twt {
    background: url("../graphic/social-network/2-layers (1).png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list .drb {
    background: url("../graphic/social-network/2-layers (2).png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list .inst {
    background: url("../graphic/social-network/2-layers (3).png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list .google {
    background: url("../graphic/social-network/2-layers (4).png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list .youtube {
    background: url("../graphic/social-network/2-layers (5).png");
    width: 36px;
    height: 36px; }
  .stay-in-touch-list li {
    list-style: none; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px; }

.violet-section, .home {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-size: cover;
  background-position: center; }

.content, .home .home-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em; }

.button {
  font-weight: 800;
  border: 1px solid #00e0d0;
  background: none;
  color: #00e0d0;
  padding: 15px;
  text-transform: uppercase; }

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .footer p {
    width: 100%; }

.content-header:after {
  margin-left: 45%;
  margin-top: 1em;
  display: flex;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #00e0d0; }

.font-decor {
  color: rgba(255, 255, 255, 0.85); }

.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  color: white; }
  .home .home-content {
    width: 50%;
    margin: 10% auto;
    letter-spacing: 0.7px;
    text-align: center; }
    .home .home-content h1 {
      font-size: 32px; }

.meet {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (2).png");
  background-size: cover;
  background-position: center;
  color: white; }
  .meet footer p {
    text-align: center; }
  .meet header {
    padding-top: 5em; }

.meet-icons > li {
  margin-left: 1em;
  list-style: none; }
  .meet-icons > li div {
    border: 1px solid #e1e1e1;
    margin-top: -5px;
    text-align: center; }

.our-story {
  color: #413d4b;
  font-family: Roboto, serif;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px; }
  .our-story ul {
    display: inline-block; }
    .our-story ul li {
      width: 33%;
      display: inline-block;
      list-style: none;
      margin: 5%; }

.our-story-image {
  text-align: right; }

.inline-header, .our-works header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav > li {
  display: inline-block; }
  .nav > li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    text-transform: uppercase; }
  .nav > li a:hover {
    color: #00e0d0; }

.header {
  text-align: center;
  margin-top: 5em; }

.logo {
  display: flex;
  align-items: center;
  background: url("../graphic/icon/logo.png");
  width: 44px;
  height: 50px; }
  .logo a {
    color: #00e0d0;
    padding-left: 2em;
    font-family: 'Roboto - Thin', serif;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none; }

.our-works {
  width: 100%; }
  .our-works header {
    padding-top: 4em; }
  .our-works footer {
    padding-bottom: 5em; }

.our-works-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .our-works-content ul li {
    display: inline-block;
    list-style: none;
    width: 267px;
    height: 200px; }
    .our-works-content ul li img {
      width: 267px;
      height: 200px; }

.slider {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  overflow: hidden; }
  .slider img {
    height: 100vh;
    min-width: 100%;
    z-index: -2;
    position: absolute; }

.slider-button {
  padding: 0;
  position: absolute;
  bottom: 0; }
  .slider-button li {
    list-style: none;
    display: inline-block; }
    .slider-button li button {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 30px;
      background: none;
      border: 1px solid #c2c2c2; }
    .slider-button li button:hover {
      background-color: #00e0d0; }

.video {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("../graphic/images/put-your-image-here (1).png");
  background-size: cover;
  background-position: center; }
