body
  font-family: 'Roboto', sans-serif
  padding: 0
  margin: 0
  font-size: 14px

.violet-section
  min-height: 100vh
  width: 100%
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%)
  background-size: cover
  background-position: center

.content
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin-top: 5em

.button
  font-weight: 800
  border: 1px solid #00e0d0
  background: none
  color: #00e0d0
  padding: 15px
  text-transform: uppercase

.footer
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  p
    width: 100%
.content-header:after
  margin-left: 45%
  margin-top: 1em
  display: flex
  content: ''
  width: 50px
  height: 1px
  background-color: #00e0d0

.font-decor
  color: rgba(255, 255, 255, 0.85)